<!-- acno -->
<div class="container w-50 p-3 mt-5"
    style="border-radius:20px;  width: 40%; background-color: rgba(103, 79, 43, 0.427);">
    <h1 class="text-center mb-3" style="font-family:calibri ; color:blanchedalmond;">
        Registration Form
    </h1>
    <!--Accounte number and username -->
    <form action="" class="p-2" [formGroup]="registerForm"><!--[formGroup] is used for connecting 
    the HTML form with Model form, so need of binding or ngModel-->
        <!-- the inputs can be connected using 'formControlName' property -->
        <div>
            <input id="ac" name="acno" formControlName="acno" type="text" class="form-control mt-3"
                placeholder="Account number">
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('uname')?.touched">
            <i class="text-danger">Invalid Ac. no.</i>
        </div>
        <!-- Username -->
        <div>
            <input id="uname" name="uname" formControlName="uname" type="text" class="form-control mt-3"
                placeholder="Username">
        </div>
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('psw')?.touched">
            <i class="text-danger">Invalid Username</i>
        </div>
        <!-- password -->
        <div>
            <input id="psw" name="psw" formControlName="psw" type="password" class="form-control mt-3"
                placeholder="Password">
        </div>
        <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('uname')?.touched">
            <i class="text-danger">Invalid Password</i>
        </div>
        <!-- button register -->
        <div><button type="submit" class="btn btn-secondary mt-4" (click)="register()">Register</button> </div>

    </form>
</div>